html, body {
  
  margin: 0;
  padding: 0;
}



.care-section{
   
width: 100%;
 
    height: auto;
    position:relative;
   
   
   
  
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem;
    padding:1rem;
   
   
   
   
}.care-title{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
   
    gap:1rem;
  
}
.right,.left{



   width: 31.43vh;
height: 0.63vh;


background: linear-gradient(90deg, #FFFFFF 0%, #FFD000 100%);


}
.right{
    background: linear-gradient(-90deg, #FFFFFF 0%, #FFD000 100%);
}
.ligne-quote{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap:1rem;
    /* padding:1rem; */
}
.ligne-quote h2{
    color: #38B000;
  
  font-weight: 500;
font-size: clamp(1.125rem, 2.2vw, 1.875rem);

line-height: 1.7rem;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  color: #38B000;
  width: 156px;
  height: 28px;

}
.care-title h1{
    color:black;
   
font-weight: 500;
font-size: clamp(1.5rem, 4vw, 2.8125rem);
line-height: 3.38rem;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;

}
.cares{
    position:relative;

display:flex;
justify-content: space-between;
align-items: center;
width:65%;
/* background-color: aquamarine; */
flex-direction: column;
height: auto;
gap:2rem;
/* background-color: pink; */




}.care {
  display: flex;
  border-radius: 25.37px;
  background: #FFFFFF;
height:auto;
flex-direction: row-reverse;
 overflow: hidden;
   box-shadow: 0 4px 15px rgba(0,0,0,0.1);
   position:relative;
   z-index: 10;
   width:100%;
   
 

 
}

.image {
  width: 50%;
  /* background-color: antiquewhite; */
}

.image img {
 width: 100%;
  height: 100%; 
  /* display: block; */
  border-bottom-right-radius: 25.37px;
  border-top-right-radius: 25.37px;
  object-fit: cover;
  
}

.care-content {
  width: 50%;
 
  display:flex;
  flex-direction: column;
 gap:1rem;
 padding:3rem;

 
  
    
}
 .second{
    flex-direction: row;
    position:relative;
    z-index:10 ;
}
.second .image img{
    border-radius: 0 0 0 0; 
    
}
.care-name{
    width:100%;
    /* background-color: #FFD000; */
    display:flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    gap:1rem;
}
.care-name .graph{
    width:10%;
}
.care-name h2{
    color: #FFB700;
    font-weight: 500;
    font-size: clamp(1.5rem, 5vw, 2.15rem);
    line-height: 2.12rem; 
  letter-spacing: 0;
  text-align: right;

}
.care-name h2 span{
    color: #38B000;

}
.name-ligne{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:0.5rem;
}
.name-ligne hr{
    background: linear-gradient(180deg, #38B000 0%, #FFC400 107.1%);
     height: 3.54px; 
  border-radius: 99.07px;
  border:none;
  width:100%;
  background: linear-gradient(180deg, #38B000 0%, #FFC400 107.1%);


}
.care-content h3{
    /* background-color: red; */
 text-align: right;
  
    width: 100%;
 

 
  font-weight: 500;
 font-size: clamp(1.5rem, 2vw + 1rem, 2rem);

  line-height: 125%;
  letter-spacing: 0.02em; 
  text-align: right;

  color: black; 
  z-index: 10;


  
}
.care-content p{
    text-align: right;
   
  font-weight: 400;
  font-size: clamp(1rem, 2vw, 1.4rem);
  line-height: 165%;
  letter-spacing: 0.03em;
  text-align: justify;
  z-index: 10;

  direction: rtl;
  color: #2E302F;
}

.graph22-top{position:absolute;
top:0%;
right:12%;
width:29%
}
.graph23-top{
  position:absolute;
  top:-5%;

  right:38%;
/* transform: rotate(1.5deg); */
z-index: 100;

/* background-color:aqua */
}
.graph24-top{
  position:absolute;
  right:8%;
  top:18%;
  
  width:12%
}
.graph25-top{
  position:absolute;
  right:0.1%;
  /* background-color: pink; */
  top:10%;
  width:2%;

}
.graph22-half{
  position:absolute;
 
  left:4%;
 width:35.5%;
 top:25%;
  transform:  rotate(-25deg ); 
 

}
.graph24-half{
  position:absolute;
  left:0;
  top:auto;
   transform:rotate(60deg);
}
.graph23-half{
  position:absolute;
  left:35%;
  /* background-color: pink; */
  /* z-index: 80; */
  transform: rotate(160deg);
  top:30%;
  /* background-color: darkmagenta; */


}
.graph22-bottom{
  position:absolute;
  right:5%;
  bottom: -1%;
  width:29%;
  transform:rotate(-45.36deg)
}
.graph26-bottom{
  position:absolute;
  right:2%;
  bottom:14%;
}
.graph24-bottom{
  position:absolute;
  right:2%;
  bottom:6%;
  transform: rotate(-32.36deg);
}
.graph27-bottom{
  position:absolute;
  bottom: 1%;
  right: 30%;
}
.graph-b{
  position:absolute;
  bottom: 3%;
 right:35%;
  transform: rotate(-40.36deg);
}
@media(min-width:2560px){


.care-content p{
 
 
  width:80%;
  display:flex;
  line-height:1.9 ;
  

}
.care-name .graph{
  /* background-color: darkcyan; */
  width:9%
}
.care-p{
  /* background-color: yellow; */
  display:flex;
  justify-content: end;
  align-items: end;
}
.care-content{
  /* background-color: darkgoldenrod; */
  
 display:flex;
 justify-content: center;
 align-items: center;
 padding-right:3rem;
 padding-top:0rem;
 padding-left: 3rem;
}

}

@media(max-width:1024px){

  .care-section{
 
  }
  .cares{
    width:80%;
  }
  
  .image{
    height:auto
  }
  .image img{
    height:100%;
  }

.graph22-top{
  /* display:none; */
  right:3%;
  top:2%;
}
.graph23-top{
  /* display:none; */
  right:35%;
}
.graph24-top{
  /* display:none; */
  right:2%;
  top:16%;
  
}
.graph25-top{
  /* display:none; */
  top:12%;
  /* background-color: firebrick; */
}
.graph22-half{
  /* display:none; */
  top:26%;
  width:40%;
  transform: rotate(-35.67deg);
}
.graph23-half{
  /* display:none; */
}
.graph24-half{
  /* display:none; */
  left:-5%;
  width:15%;
}
.graph22-bottom{
  /* display:none; */
  width:35%;
  bottom: 3%;
  /* z-index: 100; */
  right:0%;
 
}
.graph24-bottom{
  /* display:none */
  right:0%;
width:10%;
bottom: 10%;

}
.graph26-bottom{
  /* display:none */
  right:0;
  bottom:16%;
  width:4%;
}
.graph27-bottom{
  /* display:none */

bottom: 2%;
right:29%;
}
.graph-b{
  /* display:none */
   transform:rotate(-40deg);
   bottom: 5%;
   
}




}
@media(max-width:768px) and (min-width:701px){
  .care-section{
    /* background-color: black; */
   
     padding:1rem;
     gap:0rem;
     
    
  }.cares{
    width:100%;
   
    padding:3rem;
   margin-bottom: 3rem; 
  
  }
  .image {
  
    height: auto;
  
  }

  .image img{
    height:100%;
  }
  .graph22-top{
    /* display:none */
    width:40%;
    right:0;
  }
  .graph23-top{
    /* display:none */
    width:9%;
    top:0.5%;
    right: 36%;
    transform: rotate(5deg);
    z-index: 0;
  }
  .graph24-top{
    /* display: none; */
    top:17%;
    transform:rotate(0.5deg)
  }
  .graph25-top{
    /* display:none */
    right:0;
  }
  .graph22-half{
/* display:none; */
top:32%
  }
  .graph23-half{
    /* display:none */
  }
  .graph24-half{
    /* display:none */
    transform: rotate(80deg);
    top:45%;
 
  }
  .graph22-bottom{
    /* display:none */
    bottom: 0%;
    right:-1%;
  }
  .graph24-bottom{
    
    /* display:none; */
    right:-2%;
    bottom:4%;
  width:12%;
  transform:rotate(-40deg)
  }
  .graph26-bottom{
    /* display:none; */
    bottom:10%;
    right:0;
  }
  .graph27-bottom{
    /* display:none; */
    /* z-index: 600; */
    width:5%;
    bottom:1%;
  }
  .graph-b{
    /* display:none */
    bottom: 2.5%;
  }
  

  
}
@media (max-width: 700px) and (min-width: 481px) {
  .care-section {
    /* background-color: blue; */
   
    gap:0
  }
  .cares {
    width: 80%;
  }
 
  .care {
    display: flex;
    flex-direction: column;
   
  }
  .image{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 10%;
   
  }
  .image img{
    width:100%;
    height:40%;
    border-bottom-left-radius:0 ;
    border-bottom-right-radius:0 ;
  }
  .care-content{
    width:100%;
  }
  .care-content p{
    font-size: 1.3rem;
  }
  .graph22-top{
    /* display:none */
    width:45%;
    top:1%;
    right:0%
  }
  .graph23-top{
    display:none
  }
  .graph24-top{
    /* display:none */
    z-index: 900;
    top:8%;
    width:15%;
    transform: rotate(1deg);
  }
  .graph25-top{
    /* display:none */
    top:6.5%;
  }
  .graph22-half{
    /* display:none */
    width:50%;
    top:30%;
  }
  .graph23-half{
    /* display: none; */
    left:auto;
  }
  .graph24-half{
    /* display:none */
    top:38%;
    width:20%
  }
  .graph22-bottom{
    /* display:none */
    width:50%;
    bottom:2%;
    right:-1%;
  }
  .graph24-bottom{
   
    width:20%;
    right:-4%;
    bottom: 4.5%;
    transform: rotate(-40deg);
   
  }
  .graph26-bottom{
    /* display:none */
    width:7%;
    bottom: 8%;
    right:-1%;
  }
  .graph27-bottom{
    /* display:none */
    right:40%;
    
  }
  .graph-b{
    /* display:none */
 
    right:50%;
    bottom: 3.5%;
  
  }
  
}

@media (max-width: 480px) {
    .cares{
        width:100%;
        
         padding:2rem;
        
    }
    
    .care-section{
        gap:0.8rem;
        /* padding:2rem; */
        width:100%;
      
        
         
      
         position:relative;
       /* max-width: 100vW; */

    width:100%;

    height: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
    }
     
    .care-title{
        gap:0.5rem;
    }
    
    .care {
        flex-direction: column;
        width: 100%;
        padding:0.8rem;
         border-radius: 10px; 
    
        
    }
    .care-content {
        width: 100%;
        padding: 0;
         padding: 1rem;
         gap:0.5rem;
    }
    .image {
        width: 100%; 
        display:flex;
        justify-content: center;
        align-items: center;
        /* background-color: #38B000; */
       
    }
    .image img {
       
         width: 100%; 
          border-radius: 0; 
    }
    .graph22-top{
      /* display:none */
      width:45%;
      right: -3%;
      top:2%;
    }
    .graph23-top{
      /* display:none */
      top:0%;
     width:13%;
     right:32%;
     transform: rotate(8deg);
    }
    .graph24-top{
      /* display:none; */
      top:10%;
      /* z-index: 130; */
      width:20%;
      right:1%;
      transform: rotate(-10deg);
    }
    .graph25-top{
      /* display:none; */
      top:8%;
      width:3%;
    }
    .graph22-half{
      /* display:none; */
      /* z-index: 800; */
      width:50%;
      top:31%;
    }
    .graph23-half{
      /* display:none */
    }
    .graph24-half{
      /* display:none */
      /* z-index: 900; */
      width:25%;
      top:38%;
    }
    .graph22-bottom{
      /* display:none */
      /* top:60%; */
      z-index: 900;
      width:50%;
      bottom:5.1%;
      right:0%;
      /* background-color: darkblue; */
      /* background-color: darkcyan; */
    }
    .graph24-bottom{
      /* display:none; */
      /* background-color: blueviolet; */
      bottom:7%;
      width:18%;
      right:-3.5%;
      
    }
    .graph26-bottom{
      /* display:none; */
      /* background-color: aqua; */
      width:6%;
      bottom: 10%;
      right:-1%;
    }
    .graph27-bottom{
      /* display:none */
      width:7%;
      bottom: 4%;
      right:32%;
    }
    .graph-b{
      /* display:none; */
      right:42%;
      width:15%;
      
    }
    
    
}
@media(max-width:440px) and (min-width:300px){
  .care-section{
    width:100%;
    /* max-width:98vh; */
    /* background-color: #38B000; */
  }
}

