 body {
   font-family: 'Arial', sans-serif;

 }

 .gradient-bg {
   background: linear-gradient(135deg, #FFD000 0%, #FFA500 50%, #FF8C00 100%);
 }

 .contact-form {
   backdrop-filter: blur(10px);
   background: rgba(255, 255, 255, 0.95);

 }
 .buttonFooter{
  border-radius: 1vh;
  /* background-color: red; */

 }

 .contact-info-bg {
   background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.6) 58.555%, rgba(255, 255, 255, 0) 100%);
 }

 /* styles.css */
 @media (max-width:468px) {
   .footer-container {
     display: flex;
     flex-direction: column;
     /* background-color: aqua; */
     height: 120vh;
   }
  
   .footer-section {
     /* overflow: hidden; */
     top: 30vh;
   }

   .background2 {
     height: 100%;
     /* background-color: aqua; */
     display: none;
   }

   .background {
     height: 100%;
     /* background-color: aqua; */
     display: none;


   }
 
   .form {
     margin-top: -30vh;
     z-index: 1000;

   }

   .phrase01 {
     bottom: -15vh;
     display: flex;
     /* background-color: aqua; */
     justify-content: center;
     left: 0vh;
     right: 0vh;
  
   }
.ichatithan{
  z-index: 200;
}
   .mobile {
     background-image: url('/organisme-badr-web/images/image1.jpg');
     background-repeat: no-repeat;
     height: 130vh;
     width: 100%;
     background-size: cover;
     position: relative;
     /* top: -10%; */
     bottom: 0;
   }
   .heart1{
    /* background-color: aqua; */
    position: absolute;
    /* scale: 0.75; */
    /* width: 30%; */
    /* z-index: 8000; */
   }


  

 }
 /* @media (max-width:375px){
    .phrase01 {
     bottom: -50vh;
   }
 } */
  @media (min-width:2560px) {
    .iconsFotter{
      scale: 1.5;
      /* background-color: aqua; */
      height: 25vh;
    

}
.iconsnFotter{
/* background-color: red; */
      scale: 1.15;

margin-left: 25vh;
margin-top: 10vh;
}
    .tvForm{
      /* background-color: red; */
      padding-bottom: 5vh;
      padding-top: 7vh;
      /* height: 10vh; */
    }
    .buttonFooter{
      margin-top: 8vh;
    }
    .iconsFooter{
      /* background-color:red; */
      margin-left: 5vh;
     top: 10vh;
     height: 50vh;
    }
    .title01{
      margin-top: 15vh;
      /* background-color: bisque; */
    }
    .iconsForm02{
      margin-left: 43vh;
      /* background-color: aqua; */
    }
    .phrase01{
      /* background-color: red; */
      margin-top: -30vh;
    
      font-weight: normal;
     /* scale: 1.75; */
    }
  
.fotter {
  height: 50vh;
  /* background-color: aqua; */
  /* clip-path: inset(0 0 10rem 0); */
  overflow: hidden;
  /* transform: translateY(50vh); */   
}



  }