 body {
   font-family: 'Arial', sans-serif;

 }

 .gradient-bg {
   background: linear-gradient(135deg, #FFD000 0%, #FFA500 50%, #FF8C00 100%);
 }

 .contact-form {
   backdrop-filter: blur(10px);
   background: rgba(255, 255, 255, 0.95);

 }
 .buttonFooter{
  border-radius: 1vh;
  /* background-color: red; */

 }
 .footer-section {
  height: 100vh; /* Hauteur réduite */
  overflow: hidden; /* Cache ce qui dépasse */
  gap: 10px; /* Espace entre les images (optionnel) */
}
 .phrase01{
      /* background-color: red; */
      margin-top: -10vh;
    
      font-weight: normal;
     /* scale: 1.75; */
    }
 .contact-info-bg {
   background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.6) 58.555%, rgba(255, 255, 255, 0) 100%);
 }

 /* styles.css */
 @media (max-width:468px)  {
   .footer-container {
     display: flex;
     flex-direction: column;
     /* background-color: aqua; */
     height: 180vh;
   }
  .footer-section{
      /* background-color: red; */
      margin-top: -30vh;
    height: 159vh;
  }
  .formMobile{
    /* background-color: aqua; */
    height: 75vh;
  }
   .footer-section {
     /* overflow: hidden; */
     top: 30vh;
   }

   .background2 {
     height: 100%;
     /* background-color: aqua; */
     display: none;
   }

   .background {
     height: 100%;
     /* background-color: aqua; */
     display: none;


   }
 
   .form {
     margin-top: -30vh;
     z-index: 1000;

   }

   .phrase01 {
     bottom: -58vh;
     display: flex;
     /* background-color: aqua; */
     justify-content: center;
     left: 0vh;
     right: 0vh;
  
   }
.ichatithan{
  z-index: 1000;
}
   .mobile {
     background-image: url('/organisme-badr-web/images/image1.jpg');
     background-repeat: no-repeat;
     height: 130vh;
     width: 100%;
     background-size: cover;
     position: relative;
     /* top: -10%; */
     bottom: 0;
   }
   .heart1{
    /* background-color: aqua; */
    position: absolute;
    /* scale: 0.75; */
    /* width: 30%; */
    /* z-index: 8000; */
   }


  

 }
 @media (min-width:360px) and (max-width:374px){
  
    .formMobile{
    /* background-color: aqua; */
    height: 50vh;
  }
   .phrase01 {
     bottom: -40vh;
     display: flex;
     /* background-color: aqua; */
     justify-content: center;
   
  
   }
   .ichatithan{
  z-index: 1000;
}
    .footer-section{
      /* background-color: red; */
    height: 150vh;
  }
 }
 @media (min-width:375px) and (max-width:389px){
  
    .formMobile{
    /* background-color: aqua; */
    height: 75vh;
  }
   .phrase01 {
     bottom: -58vh;
     display: flex;
     background-color: aqua;
     justify-content: center;
   
  
   }
   .ichatithan{
  z-index: 1000;
}
    .footer-section{
      /* background-color: red; */
    height: 160vh;
  }
 }
  @media (min-width:390px) and (max-width:409px){
  
    .formMobile{
    /* background-color: aqua; */
    height: 60vh;
  }
   .phrase01 {
     bottom: -42vh;
     display: flex;
     background-color: aqua;
     justify-content: center;
   
  
   }
    .footer-section{
      /* background-color: red; */
    height: 150vh;
  }
  .ichatithan{
  z-index: 1000;
}
 }
  @media (min-width:410px) and (max-width:467px){
  
    .formMobile{
    /* background-color: aqua; */
    height: 60vh;
  }
   .phrase01 {
     bottom: -42vh;
     display: flex;
     background-color: aqua;
     justify-content: center;
   
  
   }
   .ichatithan{
  z-index: 1000;
}
    .footer-section{
      /* background-color: red; */
    height: 145vh;
  }
 }
 @media (max-width:360px){
   .formMobile{
    /* background-color: aqua; */
    height: 80vh;
  }
   .footer-section{
      /* background-color: red; */
    height: 160vh;
  }
  .ichatithan{
  z-index: 1000;
}
  
   .phrase01 {
     bottom: -59vh;
     display: flex;
     background-color: aqua;
     justify-content: center;
   
  
   }
 }
  @media (min-width:2560px) {
    .iconsFotter{
      scale: 1.5;
      /* background-color: aqua; */
      height: 25vh;
 

}
.footer-section {
  height: 80vh; /* Hauteur réduite */
  overflow: hidden; 
  gap: 10px; /* Espace entre les images (optionnel) */
}


/* .footer-section {
  background-color: aquamarine;
  height: 2vh;
} */
   .textInput{
      /* background-color: red; */
      font-size: x-large;
    }
.iconsnFotter{
/* background-color: red; */
      scale: 1.15;

margin-left: 25vh;
margin-top: 10vh;
}
    .tvForm{
      /* background-color: red; */
      padding-bottom: 5vh;
      padding-top: 7vh;
      /* height: 10vh; */
    }
    .buttonFooter{
      margin-top: 8vh;
    }
    .iconsFooter{
      /* background-color:red; */
      margin-left: 5vh;
     top: 10vh;
     height: 50vh;
    }
    .title01{
      margin-top: 15vh;
      /* background-color: bisque; */
    }
    .iconsForm02{
      margin-left: 43vh;
      /* background-color: aqua; */
    }
    .phrase01{
      /* background-color: red; */
      margin-top: -30vh;
    
      font-weight: normal;
     /* scale: 1.75; */
    }
  
.fotter {
  height: 50vh;
  /* background-color: aqua; */
  /* clip-path: inset(0 0 10rem 0); */
  overflow: hidden;
  /* transform: translateY(50vh); */   
}



  }