.formule-section{


  background-color: red;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:auto;

}
.form-pect{
  background-color: pink;
  display:flex;
  justify-content: center;
  align-items: center;
  height:auto
}
.graph34{
  display:none
}
.pecture{
  width:50%;
  background-color: darkblue;
  height:auto;
}
.formule{
  background-color: aqua;
  width:50%;
  height:auto;
  display:flex;
  flex-direction: column;
}
.graph33{
  display:none;
}