/* html, body {
  max-width: 100%;
  overflow-x: hidden;
} */
.localSection {
  width: 80%;
  display: flex;
  justify-content: center;
  left: 8%;
}
.grandeSection{
/* background-color: red; */
}

@media (max-width:468px) {
  .localSection {
    /* background-color: aqua; */
    width: 80%;
    height: 130vh;
    display: flex;
    justify-content: center;
    left: 0vh;
    right: 0vh;
    /* align-items: center; */
  }
  .grandeSection{
/* background-color: red; */
width: 100%;
 display: flex;
    justify-content: center;
    /* align-items: center; */

}


  .information {
    width: 100%;

  }
.paragraphe01{
  /* background-color: aqua; */
  height: 10vh;
  margin-left: 10vh;
  width: 100%;
}
  .map {
    width: 100%;
    /* background-color: aqua; */
   margin-top: 20%;
  }

  .local {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */

  }

  .icon8 {
    margin-right: 8px;
    /* background-color: aqua; */
  }

  .icons {
    display: flex;
    justify-content: end;
    width: 100%;
    /* background-color: red; */
    /* margin-left: 20%; */
    margin-top: -8vh;
  }

  .titre {
    display: flex;
    justify-content: end;
    left: -4vh;
    /* background-color: blue; */
  }

  .icons2 {
    margin-top: 8vh;
    margin-left: 40%;
    /* background-color: red; */
    width: 100%;
    scale: 0.75;
    /* margin-bottom: 10%; */
  }

  .titre {
    font-size: x-small;
    margin-top: 5vh;
    /* background-color: aqua; */
    width: 100%;
    margin-right: 6px;
  }

  .phrase {
    width: 100%;
    /* right: 6px; */
    left: -14vh;


  }
}
@media (min-width:2560px) and (min-height:1440px){
   .localSection {
    /* background-color: aqua; */
    width: 80%;
    height: 50vh;
display: flex;
justify-content: center;
    left: 15vh;
  }
  .grandeSection{
/* background-color: red; */
width: 100%;
}


  .information {
    width: 100%;
    /* background-color: blueviolet; */

  }
.paragraphe01{
  /* background-color: aqua; */
  height: 10vh;
  /* margin-left: 10vh; */
  width: 100%;
  margin-top: 38%;
}
  .map {
    width: 100%;
    height: 50vh;
    /* background-color: aqua; */
   /* margin-top: 20%; */
  }

  .local {
    display: flex;
    /* flex-direction: column; */
    /* background-color: aqua; */

  }

   .icon8 {
    /* margin-right: 8px; */
    /* background-color: aqua; */
    width: 100%;
    translate:20vh;
    
  }


 

  .titre {
    display: flex;
    justify-content: end;
    left: -4vh;
    /* background-color: blue; */
  }

  .icons2 {
    margin-top: -8vh;
    margin-left: 13%;
    /* background-color: red; */
    width: 100%;

    /* scale: 0.75; */
    /* margin-bottom: 10%; */
  }

  .titre {
    font-size: x-small;
    margin-top: 5vh;
    /* background-color: aqua; */
    width: 100%;
    margin-right: 6px;
  }

  .phrase {
    width: 100%;
    top: -18vh;
    /* right: 6px; */
    left: 28vh;


  }
}