@media (max-width:468px){
    .nous-section{
        /* background-color: red; */
        margin-bottom: -35vh;
        /* margin-top: 80vh; */
    }
    .nous-container {
        display: flex;
        flex-direction: column-reverse;
        /* background-color: aqua; */
       
    }
    .images{
        /* background-color: red;    */
        /* width: 90%; */
        top: 5vh;
   
    }
    
}
@media (min-width:2560px){
    .nous-section{
        /* background-color: red; */
        height: 70vh;
        /* padding: 4rem; */
    }
    .nous-container {
        /* background-color: aqua; */
        height: 70vh;

       
    }
    .images{
        /* background-color: red;    */
        /* width: 90%; */
        top: 5vh;
   
    }
    .numero{
        /* background-color: blue; */
        /* left: 118vh; */
    }
    .nous-card{
        /* background-color: blue; */
        width: 70%;
        left: 10vh;
    }
    .par01{
        font-size:x-large ;
    }
}

