 .fleche03{
        /* background-color: red; */
        margin-top: 1.5vh;
    } 
    @media (min-width:1024px){
        
        .numero{
            scale: 0.70;
            top: 5vh;
        }
    
    }
    @media (max-width:468px){
    .nous-section{
        /* background-color: red; */
        margin-bottom: -35vh;
        /* margin-top: 80vh; */
    }
    .nous-container {
        display: flex;
        flex-direction: column-reverse;
        /* background-color: aqua; */
       
    }
    .images{
        /* background-color: red;    */
        /* width: 90%; */
        top: 5vh;
   
    }
    
}
@media (min-width:2560px) and (min-width:1400px){
    .nous-section{
        /* background-color: red; */
        height: 70vh;
        /* padding: 4rem; */
        margin-left: 20vh;
    }
    .nous-container {
        /* background-color: aqua; */
        height: 70vh;

       
    }
    .fleche03{
        /* background-color: red; */
        margin-top: 0.75vh;
        scale: 1.25;
    }
    .images{
        /* background-color: red;    */
        width: 40%;
        top: 15vh;
        height: 90vh;
   
    }
    .numero{
        /* background-color: blue; */
        /* left: 118vh; */
        top: 6vh;
        scale: 1;
        /* left: 80vh; */
    }
    .nous-card{
        /* background-color: blue; */
        width: 70%;
        /* padding: 10vh; */
        left: 10vh;
    }
    .par01{
        font-size:x-large ;
        padding: 1rem;
    }
    .titre03{
        font-weight: bold;
        font-size: xx-large;
    }
}

