 .organisme-container {
     height: 53vh;
     /* background-color: aqua; */

 }





 /* Écrans très petits : de 320px à 359px */
 @media (min-width: 320px) and (max-width: 359px) {
     .organisme-container {
         margin: 2rem;
         /* background-color: aqua; */
         margin-top: 10vh;

         padding: 2rem;
         border: #E3DBD8 1px solid;
         display: flex;
         flex-direction: column-reverse;
         height: 110vh;
     }

     .parag0 {
         font-size: large;
     }

     .titre0 {
         font-size: x-large;
         /* background-color: aquamarine; */

     }

     .titre1 {
         font-size: 8vh;
         /* background-color: red; */

     }

     .image1 {
         top: 2%;
         width: 100%;
     }

     .organisme-section {
         margin-top: -12%;
     }



     .bare1 {
         margin-top: 1rem;
     }

     .containers {
         display: flex;
         align-items: end;
         top: -3%;
     }

     .button1,
     .button2 {
         border-radius: 0.3rem;
     }
 }

 /* Petits écrans : 360px à 389px */
 @media (min-width: 360px) and (max-width: 389px) {
     .organisme-container {
         margin: 2rem;
         /* background-color: aqua; */
         margin-top: 10vh;

         padding: 2rem;
         border: #E3DBD8 1px solid;
         display: flex;
         flex-direction: column-reverse;
         height: 118vh;
     }

     .parag0 {
         font-size: large;
     }

     .titre0 {
         font-size: x-large;
         /* background-color: aquamarine; */

     }

     .titre1 {
         font-size: 8vh;
         /* background-color: red; */

     }

     .image1 {
         /* top: 2%; */
         width: 100%;
     }

     .organisme-section {
         margin-top: -5%;
     }

     .bare1 {
         margin-top: 1rem;
         /* background-color: red; */

     }

     .containers {
         display: flex;
         top: 6%;
         /* background-color: red; */
         align-items: end;
     }

     .button1,
     .button2 {
         border-radius: 0.3rem;
     }
 }

 /* Moyens écrans : 390px à 409px */
 @media (min-width: 390px) and (max-width: 409px) {
     .organisme-container {
         margin: 2rem;
         margin-top: 10vh;

         /* background-color: aqua; */
         padding: 2rem;
         border: #E3DBD8 1px solid;
         display: flex;
         flex-direction: column-reverse;
         height: 80vh;
     }

     .parag0 {
         font-size: large;
     }

     .titre0 {
         font-size: x-large;
         /* background-color: aquamarine; */

     }

     .titre1 {
         font-size: 6vh;
         /* background-color: red; */

     }
 }

 /* Taille spéciale : 410px à 429px */
 @media (min-width: 410px) and (max-width: 429px) {
     .organisme-container {
         margin: 2rem;
         padding: 2rem;
         margin-top: 10vh;

         /* background-color: aqua; */
         border: #E3DBD8 1px solid;
         display: flex;
         flex-direction: column-reverse;
         height: 86vh;
     }

     .image1 {
         top: 2%;
         width: 100%;
     }

     .organisme-section {
         margin-top: -12%;
     }

     .parag0 {
         font-size: large;
     }

     .titre0 {
         font-size: x-large;
         /* background-color: aquamarine; */

     }

     .titre1 {
         font-size: 5vh;
         /* background-color: red; */

     }

     .bare1 {
         margin-top: 1rem;
     }

     .containers {
         display: flex;
         align-items: end;
     }

     .button1,
     .button2 {
         border-radius: 0.3rem;
     }
 }

 /* Grands écrans : 430px et plus */
 @media (min-width: 430px) and (max-width:540px) {
     .organisme-container {
         margin: 2rem;
         /* background-color: aqua; */
         margin-top: 10vh;
         padding: 2rem;
         border: #E3DBD8 1px solid;
         display: flex;
         flex-direction: column-reverse;
         height: 70vh;
     }

     .organisme-section {
         margin-top: -30%;
     }

     .parag0 {
         font-size: large;
     }

     .titre0 {
         font-size: x-large;
         /* background-color: aquamarine; */

     }

     .titre1 {
         font-size: 5vh;
         /* background-color: red; */

     }
 }



 @media (min-width:2560px) {
    .organisme-section{
        /* background-color: red; */
        min-height: 80vh;
        /* padding: -2rem; */
        margin-bottom: -10vh;
    }
    .fleche3{
        scale: 2;
        margin-top: 2vh;
    }
    .ligne01{
        height: 10vh;
    }
     .organisme-container {
         margin: 2rem;
         margin-top: -50%;
         /* background-color: aqua; */
         padding: 2rem;
         border: #E3DBD8 1px solid;
         display: flex;
         width: 70%;
         height: 50vh;
         margin-bottom: -80vh;

     }

     .containers {
         display: flex;
         align-items: end;
         top: 5%;
         /* background-color: blueviolet;     */

     }

     .infos {
         /* background-color: red; */
         height: 25vh;
         margin-top: 5%;

     }

     .parag0 {
         font-size: xx-large;
     }

     .titre0 {
         font-size: xx-large;
         /* background-color: aquamarine; */

     }

     .titre1 {
         font-size: 8vh;
         /* background-color: red; */

     }

     .button1,
     .button2 {
         border-radius: 0.3rem;

     }

     .button1 {
         background-color: red;
         width: 30%;
     }

     .button2 {
         background-color: red;
         width: 30%;
     }
 }