/* @media (min-width: 768px) {
    .image1 {
        left: 50%;
        transform: translateX(-50%);
    }
}
@media (max-width: 480px) {
    .image1 {
        width: 10%;
        height: 10%;
        top: auto;
        left: 2%;
        position: relative;
    }
}
@media (max-width: 480px) {
   .container{
    background-color: aqua;
   }
} */
