/* @media (max-width: 768px) {
    .organisme {
       background-color: blueviolet;
    }
} */
/* @media (max-width: 480px) {
    .image1 {
        width: 10%;
        height: 10%;
        top: auto;
        left: 2%;
        position: relative;
    }
}
@media (max-width: 480px) {
   .container{
    background-color: aqua;
   }
} */
