/* .button3 {
    background-color: red;
    
} */
<<<<<<< HEAD
/* ikram */
=======

>>>>>>> bbede7515f320906b2e7d1842f28a0d06ceb2d0a
.button4{
  background-color: #FFD000 ;

}
.button3{
  background-color: #38B000 ;
}
.paragraphe{
    margin-top: 100px;
}
body {
  overflow-x: hidden;
}
@media (min-width: 769px) {
  html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}




  