/* .button3 {
    background-color: red;
    
} */

.button4{
  background-color: #FFD000 ;

}
.button3{
  background-color: #38B000 ;
}
.paragraphe{
    margin-top: 100px;
}
body {
  overflow-x: hidden;
}
@media (min-width: 769px) {
  html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
/* @media (min-width:1536px){

  .organisme{
  background-color: red;
  width: 100%;
  }
} */
 /* * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */

 @media (max-width: 768px) {
                .flex {
                    flex-direction: column;
                }

                .gap-5 {
                    gap: 1rem;
                }

                .text-4xl {
                    font-size: 2rem;
                }

                .absolute {
                    display: none;
                }
            }

  