.border-gradient-custom {
  border: 5px solid;
  border-image-source: linear-gradient(180deg, rgba(255, 183, 0, 0) 26.92%, #FFB700 100%);
  border-image-slice: 1;
}
 .titrePresedant{
    display: flex;
    justify-content: center;
  }
@media (max-width:468px){
  .presedant{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 10vh ;
  }
  .image{
    display: flex;
    justify-content: center;
  }
  .presedantTitle{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap:12px;

  }
  .titre{
    width:90%;
    display: flex;
    text-align: end;
    font-size: small;
    justify-content: end;
      flex-direction: row;
      

  }
  .secondTitre{
    font-size: large;
    display: flex;
    justify-content: end;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .paragraphe1{
    display: flex;
    justify-content: end;
    text-align: right;
  }
   .paragraphe2{
    display: flex;
    justify-content: end;
    text-align: right;
  }
  .titre3{
    display: flex;
    justify-content: end;
  }
  .phrase0{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (min-width:2560px)  {
  .presedant{
    width: 90%;
    display: flex;
    /* background-color: red; */
    /* flex-direction: column-reverse; */
    gap: 10vh ;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: center;
    margin-top: -10vh;
  }
  .ligneJaune{
    /* background-color: red; */
    /* width: 10%; */
  }
  .image{
    display: flex;
    justify-content: center;
    margin-left: 25vh;
  }
  .contenu1{
    /* background-color: red; */
    text-align: right;
    margin-top: 20vh;
   
  }

   .secondTitre{
    font-size: large;
    display: flex;
    width: 100%;
    font-size: xx-large;
    justify-content: end;
    margin-top: 10px;
    margin-bottom: 10px;
      /* background-color: #FFB700; */

  }
  .paragraphe1{
    display: flex;
    justify-content: end;
    text-align: right;
    font-size: x-large;
      /* background-color: #FFB700; */

  }
   .paragraphe2{
    display: flex;
    justify-content: end;
    text-align: right;
      background-color: #FFB700;

  }
   .paragraphe3{
  font-size: x-large;

  }
  .titre3{
    display: flex;
    justify-content: end;
    font-size: xx-large;

      /* background-color: #FFB700; */

  }
  .phrase0{
    margin-top: 10px;
    margin-bottom: 10px;
      /* background-color: #FFB700; */

  }
  .motDeNadia{
    /* background-color: aqua; */
    padding: 4rem;
    margin-left: 16rem;
  }
  .titlePresedant{
    /* background-color: blueviolet; */
    width: 100%;
    margin-left: 25vh;
    /* position: absolute; */
    
  }
  .titrePresedant{
    display: flex;
    justify-content: center;
  }
}
