


 *, *::before, *::after { box-sizing: border-box; }
body, h3, p { margin: 0; }
body{

 

  
 
  
}

.service {
  display: flex;
  justify-content: space-evenly;
 
  flex-wrap: nowrap;
  gap:20px;
  height: auto;




  width:100%;
 

 background: linear-gradient(-74.24deg, #FFC909 -0.01%, #FFFFFF 108.29%);







}


.heart
 {
  position: absolute; 
 
   margin-top:-10px;
   margin-left: -10%;
  

}
.cercle{
  position: absolute;
  
margin-top: 380px;

margin-left:-50px;
}
.title-services{
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
 
  position:relative;
  
  padding:1.8rem;
  gap:10px;
 
  margin-left: 20px;
  
}
.services{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:  center;
  gap:10px;
  margin-top: 10%;
  margin-left: 5%;
  height: 100%;

 
}

.icon-content{
  display:flex;
  flex-direction: row-reverse;
 justify-content: center;
 align-items: center;

 padding-right:1rem;
  gap:10px;
 


  background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 100%);

width: 70%;


border-radius: 15px;
height: 10%;



}
.content {

  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  gap: 0.5rem; 
  padding: 1rem;
  width: 100%; 
  line-height: normal; 
}

.content h4, 
.content p {
  text-align: right;
  margin: 0;
  line-height: 1.4; 
}

.content h4 {
  font-size: 1.5rem;
  color: #000000;

font-weight: 500;

line-height: 100%;
letter-spacing: 0px;
text-align: right;

 
}

.content p {
  font-size: 1rem;
  
font-weight: 400;

letter-spacing: 0%;
text-align: right;
color: #525560;



 }
 .serv-name{
    display:flex;
    flex-direction: column;
    gap:5px;
 }

 .pectures{
   
    background: linear-gradient(-155.24deg, #FFFFFF 12.31%, #FFCB15 102.84%);


width: 55.56vh;
height: 60vh;

border-radius: 21px;

margin-left: 30%;



  }.pect-int {
  position: absolute;
  width: 60vh;
  height: 70vh;
  border-radius: 22.92px;
  left: 47%;
  top: 19%;

 
  background-image: url('/flags/unsplash_SBIak0pKUIE.png');
  background-size: cover;
  background-repeat: no-repeat;

   
}
.click{

  width: 60px;
  height: 60px;
  border: 2px solid white; 
  border-radius: 50%;
  background-color: transparent; 
  top:48%;
  left:42%;
  display: flex;
  justify-content: center;
  align-items:  center;
}
.botton{
    background: #FFFFFF;
width: 50px;
height: 50px;


border-radius: 50%;
display:flex;
justify-content: center;
align-items: center;

}
.button2{
  background-color: #FFD000 ;

}
.button1{
  background-color: #38B000 ;
}


@media ( max-width:412px){

   .service{
   position: relative;
   width: 100%;   

  } 
  
}
