.top-titre{
    background-color: pink;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   width:80%; 
   gap:0.5rem
}
.titre-lg{
    background-color: red;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:80%;
 
    gap:2rem;
}
.titre-lg h3{
    background-color: darkcyan;
    width:100%;
    color: #38B000;
      font-family: 'Neo Sans Arabic', sans-serif;
  font-weight: 500;
  font-style: normal; 
  font-size: clamp(1.5rem, 2.5vw, 1.7rem); 
  line-height: 1.1; 
  letter-spacing: 0;
  text-align: center;
  text-transform: capitalize;

  

}
.top-titre h2{
      color: #121212;
  font-family: 'Neo Sans Arabic', sans-serif;
  font-weight: 500;
  font-style: normal; /* 'Medium' n’est pas une valeur CSS, c’est un poids (déjà 500) */
  font-size: clamp(2rem, 5vw, 2.4rem); /* entre 32px et 45px */
  line-height: clamp(2.5rem, 6vw, 3.375rem); /* entre 40px et 54px */
  letter-spacing: 0;
  text-align: center;
  text-transform: capitalize;
}
.titre-lg hr{
    


opacity: 1;
height:2rem;
background: linear-gradient(90deg, #FFFFFF 0%, #FFD000 100%);

}