.top-titre{
   
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   width:80%; 
   gap:0.5rem
}
.titre-lg{
  
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:80%;
 
    gap:rem;
}
.titre-lg h3{
  
    width:30%;
    color: #38B000;
      font-family: 'Neo Sans Arabic', sans-serif;
  font-weight: 500;
  font-style: normal; 
  font-size: clamp(1.5rem, 2.5vw, 1.7rem); 
  line-height: 1.1; 
  letter-spacing: 0;
  text-align: center;
  text-transform: capitalize;

  

}
.top-titre h2{
      color: #121212;
  font-family: 'Neo Sans Arabic', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: clamp(2rem, 5vw, 2.4rem); 
  line-height: clamp(2.5rem, 6vw, 3.375rem); 
  letter-spacing: 0;
  text-align: center;
  text-transform: capitalize;
}
.lg-right{
    

 width:80%;
opacity: 1;
width: 282.8875732421886px;
height: 5.6804485321045135px;



opacity: 1;
background: linear-gradient(90deg, #FFFFFF 0%, #FFD000 100%);


background: linear-gradient(-90deg, #FFFFFF 0%, #FFD000 100%);

}
.lg-left{
    
     width:80%;
opacity: 1;
width: 282.8875732421886px;
height: 5.6804485321045135px;
background: linear-gradient(90deg, #FFFFFF 0%, #FFD000 100%);
}
@media(max-width :480px){
    .titre-lg{
      
        width:100%;
    }
    .titre-lg h3{
    
        width:100%;
    }
}