.who-prDiv {
    padding: 6rem;
}

.partenaire {
    /* background-color: aqua; */
}

.slider-container {
    /* background-color: red; */
    /* height: 20%; */
    
}


   .test{
    /* background-color: blue; */
    /* margin-right: 5%; */
    margin-left: -4%;
   }
    .para{
        /* background-color: red; */
    }
    .parag{
        /* background-color: blue; */
        width: 90%;
        /* margin-left: 5%; */
        margin-top: 2%;

    }

.slider-track {
    /* background-color: aqua;  */
    margin-top: 3rem;
    display: flex;
    align-items: center;
    scale: 0.5;
    height: 10vh;
}
 

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.slider-container {
    overflow: hidden;
    width: 100%;
    height: 20vh;
    position: relative;
    margin-top: -8vh ;
}

.slider-track {
    display: flex;
    width: 200%;
    /* car on va mettre 2 images */
    animation: slide 10s linear infinite;
}

.slider-track img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}


@media (max-width:480px) {
    .who-section {
        padding: 0.5rem;

    }

    .who-prDiv {
        display: flex;
        padding: 0.25rem;

        flex-direction: column-reverse;
        /* background-color: aqua; */
    }

    .partenaire {
        /* background-color: aqua; */
        height: 10vh;
    }

    .ligne1 {
        /* background-color: red; */
        width: 100%;
    }

    .ligne2 {
        /* background-color: green; */
        width: 20%;
    }

    .ligne3 {
        /* background-color: yellow; */
        width: 100%;
        /* display: none; */
        /* margin-top:2rem; */
    }

    .slider-track {
        /* margin-top: 2rem; */
        /* background-color: antiquewhite; */
        /* margin-bottom: 2rem; */
        display: flex;
        align-items: center;
            height: 10vh;

    }

    .slider-container {
        height: 12vh;
    }

    .isam {
        font-size: medium;
    }

    .titleDiv {
        display: flex;
        flex-direction: row;
    }
    .para{
        /* background-color: red; */
    }
    .parag{
        /* background-color: blue; */
        width: 90%;
        margin-left: 5%;
        margin-top: 2%;

    }
}
@media (min-width:375px) and (max-width:380px){
     .slider-track {
        /* margin-top: 2rem; */
        /* background-color: antiquewhite; */
        /* margin-bottom: 2rem; */
        display: flex;
        align-items: center;
            height: 5vh;

    }

}
@media (min-width:360px) and (max-width:375px){
     .slider-track {
        /* margin-top: 2rem; */
        /* background-color: antiquewhite; */
        /* margin-bottom: 2rem; */
        display: flex;
        align-items: center;
            height: 5vh;

    }

}
 @media (min-width:320px) and (max-width:360px){
     .slider-track {
        /* margin-top: 2rem; */
        /* background-color: antiquewhite; */
        /* margin-bottom: 2rem; */
        display: flex;
        align-items: center;
            height: 5vh;

    }

}
 